<app-navbar></app-navbar>

<div class="container">
  <div style="padding: 30px 30px 0px 30px;">
    <h1>
      <div class="line animated fadeIn"></div>
      Información
    </h1>
    <p class="title">Aprende más sobre mi</p>
  </div>

  <div class="content">
    <div class="photo">
      <img src="../../../assets/img/about.jpg" width="100%" alt="" />
    </div>
    <div class="infoPerson animated fadeIn">
      <h3>Desarrollador de software</h3>
      <p>
        Soy estudiante de programación, enfocado en el desarrollo de software.
        Actualmente, tengo más de 6 meses de experiencia trabajando en proyectos
        reales utilizando los Frameworks de Angular y Laravel.
      </p>
      <p>
        Mis pasatiempo es escuchar música, ver series, leer libros y disfrutar
        de una buena tarde de videojuegos con mis amigos.
      </p>
      <p>
        Actualmente, sigo ampliando mis conocimientos en Angular, diseño web,
        responsive desing, inglés, como también algún lenguaje de Back End para
        así poder llegar a mi meta de convertirme en un Full Stack Developer.
      </p>
    </div>
  </div>
  <div style="padding: 30px 30px 30px 30px;">
    <h1>
      <div class="line1 animated fadeIn"></div>
      Habilidades
    </h1>
    <div class="skills animated fadeIn fast">
      <a matTooltip="Intermedio/Avanzado"
        ><img src="../../../assets/img/skill_icon/html-5.png" width="40px" alt=""
      /></a>
      <a matTooltip="Intermedio"
        ><img src="../../../assets/img/skill_icon/css-3.png" width="40px" alt=""
      /></a>
      <a matTooltip="Suficiente/60%"
        ><img src="../../../assets/img/skill_icon/js.png" width="40px" alt=""
      /></a>
      <a matTooltip="Suficiente/70%"
        ><img
          src="../../../assets/img/skill_icon/angular-icon-logo.png"
          width="40px"
          alt=""
      /></a>
      <a matTooltip="Intermedio"
        ><img src="../../../assets/img/skill_icon/php.png" width="40px" alt=""
      /></a>
      <a matTooltip="Intermedio"
        ><img
          src="../../../assets/img/skill_icon/Laravel.svg.png"
          width="40px"
          alt=""
      /></a>
      <a matTooltip="Minimo"
        ><img src="../../../assets/img/skill_icon/piton.png" width="40px" alt=""
      /></a>
      <a matTooltip="Minimo/Intermedio"
        ><img
          src="../../../assets/img/skill_icon/django-icon-0.jpg"
          width="40px"
          alt=""
      /></a>
      <a matTooltip="Intermedio"
        ><img src="../../../assets/img/skill_icon/mysql.png" width="40px" alt=""
      /></a>
      <a matTooltip="Intermedio"
        ><img
          src="../../../assets/img/skill_icon/typescript.png"
          width="40px"
          alt=""
      /></a>
      <a matTooltip="Suficiente"
        ><img src="../../../assets/img/skill_icon/git.png" width="40px" alt=""
      /></a>
      <a matTooltip="Minimio/Intermedio"
        ><img src="../../../assets/img/skill_icon/docker.png" width="40px" alt=""
      /></a>
    </div>
  </div>

</div>
